<div class="sidebar-item-inner">
  <div class="editor-common-sidebar-preview-wrapper">
    <button class="editor-common-sidebar-preview action-primary">
      <span class="editor-common-sidebar-preview-inner">{{ t 'app.preview'}}</span>
      <span class="editor-common-sidebar-previewing display-none">
        <i class="fa fa-circle-o-notch fa-spin"></i>{{ t 'app.previewing'}}
      </span>
    </button>
    <div class="dropdown">
      <button class=""><i class="fa fa-caret-down"></i></button>
      <ul>
        <li>
          <button class="editor-common-sidebar-preview-force">{{ t 'app.forcerebuild'}}</button>
        </li>
      </ul>
    </div>
  </div>
  <button class="generateButtons_lms">
    {{!-- <div class="gencourse update">{{ t 'app.generateCourse'}}</div> --}}
    <div class="gencourse create">{{ t 'app.updateCourse'}}</div>
  </button>

  <button class="language_translate_lms">
    <div class="gencourse lang editor-common-sidebar-courselanguage">{{ t 'app.courselanguage'}}</div>
    <span class="editor-common-sidebar-courselanguageprocessing display-none">
      <i class="fa fa-circle-o-notch fa-spin"></i>{{ t 'app.courselanguageprocessing'}}
    </span>
  </button>

  <button class="openPopup">
    <div class="openBox">Import Language Files</div>
  </button>

  <button class="revisionHistory">
    <div class="openBox">Revision History</div>
  </button>

  {{!-- <button class="editor-common-sidebar-download action-secondary">
    <span class="editor-common-sidebar-download-inner">{{ t 'app.download'}}</span>
    <span class="editor-common-sidebar-downloading display-none">
      <i class="fa fa-circle-o-notch fa-spin"></i>{{ t 'app.downloading'}}
    </span>
  </button> --}}

  <button class="editor-common-sidebar-download2004 action-secondary">
    <span class="editor-common-sidebar-download2004-inner">{{ t 'app.download2004'}}</span>
    <span class="editor-common-sidebar-downloading2004 display-none">
      <i class="fa fa-circle-o-notch fa-spin"></i>{{ t 'app.downloading2004'}}
    </span>
  </button>

  {{#ifHasPermissions "*/*:create,*/*:read,*/*:update,*/*:delete"}}
  <button class="editor-common-sidebar-export action-secondary">
    <span class="editor-common-sidebar-export-inner">{{ t 'app.export'}}</span>
    <span class="editor-common-sidebar-exporting display-none">
      <i class="fa fa-circle-o-notch fa-spin"></i>{{ t 'app.exporting'}}
    </span>
  </button>
  {{/ifHasPermissions}}

  <div class="separator" />

  <div class="sidebar-row">
    <button class="editor-common-sidebar-project">
      <span class="editor-common-sidebar-project-inner">
        <i class="fa fa-chevron-right primary-color" /></i>{{ t 'app.editorsettings'}}
      </span>
    </button>
  </div>

  <div class="sidebar-row">
    <button class="editor-common-sidebar-config">
      <span class="editor-common-sidebar-config-inner">
        <i class="fa fa-chevron-right primary-color" /></i>{{ t 'app.editorconfig'}}
      </span>
    </button>
  </div>

  <div class="sidebar-row">
    <button class="editor-common-sidebar-select-theme">
      <span class="editor-common-sidebar-select-theme-inner">
        <i class="fa fa-chevron-right primary-color" /></i>{{ t 'app.editorselecttheme'}}
      </span>
    </button>
  </div>

  <div class="sidebar-row">
    <button class="editor-common-sidebar-menusettings">
      <span class="editor-common-sidebar-menusettings-inner">
        <i class="fa fa-chevron-right primary-color" /></i>{{ t 'app.editormenusettings'}}
      </span>
    </button>
  </div>

  <div class="sidebar-row">
    <button class="editor-common-sidebar-extensions">
      <span class="editor-common-sidebar-extensions-inner">
        <i class="fa fa-chevron-right primary-color" /></i>{{ t 'app.editorextensions'}}
      </span>
    </button>
  </div>

  <form id="downloadForm" method="get" action=""></form>
</div>