<div class="sidebar-item-inner">

  <div class="separator"></div>

  <button class="projects-sidebar-add-course action-primary">
    <span class="projects-sidebar-add-course-inner">{{t 'app.addnewproject'}}</span>
  </button>

  {{#ifHasPermissions "*/*:create,*/*:read,*/*:update,*/*:delete"}}
    <button class="projects-sidebar-import-course action-secondary">
      <span class="projects-sidebar-import-course-inner">{{t 'app.importcourse'}}</span>
    </button>
  {{/ifHasPermissions}}

  <div class="separator"></div>

    <div class="sidebar-row">
      <button class="projects-sidebar-my-courses">
        <span class="projects-sidebar-my-courses-inner">
          <i class="fa fa-chevron-right primary-color"/></i>
          {{t 'app.myprojects'}}
        </span>
      </button>
    </div>
    <div class="sidebar-row">
      <button class="projects-sidebar-shared-courses">
        <span class="projects-sidebar-shared-courses-inner">
          <i class="fa fa-chevron-right primary-color"/></i>
          {{t 'app.sharedprojects'}}
        </span>
      </button>
    </div>

    <div class="sidebar-search-tag">
      <div class="sidebar-row">
        <div class="sidebar-row-input">
          <input type="text" class="projects-sidebar-filter-input projects-sidebar-filter-search-input" placeholder="{{t 'app.searchbyname'}}"/>
          <button class="sidebar-filter-clear"><i class="fa fa-times"></i></button>
        </div>
      </div>

      <button class="projects-sidebar-add-tag sidebar-filter-button action-secondary">
        <span class="projects-sidebar-add-tag-inner">{{t 'app.searchbytag'}}</span>
      </button>
    </div>
</div>
