<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/base-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css">

    {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> --}}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        defer></script>
    <script type="text/javascript"
        src="https://cdn.datatables.net/plug-ins/1.10.12/sorting/datetime-moment.js"></script>

</head>

<body>
    <div class="editor-inner clearfix"></div>
    
    <div class="modelBoxPopup">
        <div class="modelContenl" style="height: auto;top:30%;left:30%; width:fit-content">
            <button class="modelBoxClose">X</button>
            <div class="modelHeader">
                <span class="central"> Import Language Files </span>
            </div>
            <div class="modelInsideContent ">
                <div class="card" style="background-color: #f0f5f7;">
                    <div class="card-body">
                        <div class="container">
                            <div id="uploadFormError" class="display-none alert alert-danger" role="alert">
                                <i class="fa fa-times"></i><span id="uploadFormErrorMessage" />
                            </div>
                            <div class="pure-g">
                                <div class="pure-u-1-2 l-box">Language code</div>
                                <div class="pure-u-1-2 l-box">
                                    <select id="language_code" class="form-control-sm pure-input-1">
                                        <option value="en">English</option>
                                        <option value="de">German</option>
                                        <option value="fr">French</option>
                                        <option value="nl">Dutch</option>
                                        <option value="es">Spanish</option>
                                    </select>
                                </div>
                            </div>
                            <div class="pure-g my-1">
                                <div class="pure-u-1-2 l-box">Article</div>
                                <div class="pure-u-1-2 l-box"><input type="file" class="languagesFiles"
                                        id="article_file"></div>
                            </div>
                            <div class="pure-g my-1 ">
                                <div class="pure-u-1-2 l-box">Block</div>
                                <div class="pure-u-1-2 l-box"><input type="file" class="languagesFiles" id="block_file">
                                </div>
                            </div>
                            <div class="pure-g my-1">
                                <div class="pure-u-1-2 l-box">Component</div>
                                <div class="pure-u-1-2 l-box"><input type="file" class="languagesFiles"
                                        id="component_file">
                                </div>
                            </div>
                            <div class="pure-g my-1 ">
                                <div class="pure-u-1-2 l-box">Content object</div>
                                <div class="pure-u-1-2 l-box"><input type="file" class="languagesFiles"
                                        id="content_object_file">
                                </div>
                            </div>
                            <div class="pure-g my-1">
                                <div class="pure-u-1-2 l-box">Course</div>
                                <div class="pure-u-1-2 l-box"><input type="file" class="languagesFiles"
                                        id="course_file"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class=" text-center">
                            <button type="submit"
                                class="uploadFormSubmit btn btn-outline-secondary">{{t 'app.uploadandprocess'}}</button>
                            <button class="uploadFormSubmitandProcess btn btn-outline-secondary display-none">
                                <i class="fa fa-circle-o-notch fa-spin"></i>{{ t 'app.processing'}}
                            </button>
                            <button class="btn btn-outline-danger">{{t 'app.cancel'}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modelBoxPopupRevision">
        <div class="modelContenlRevision screen-center" style="height: auto;">
            <button class="modelBoxCloseRevision">X</button>
            <div class="modelHeaderRevision">
                <span class="central"> Revision History </span>
            </div>
            <div class="modelInsideContentRevision" style="height: 100%;">
                <div class="card" style="background-color: #f0f5f7;">
                    <div class="container-fluid">
                        <div class="pure-g" style="letter-spacing: 0em !important">
                            <table width="100%" border="1" class="table table-sm table-hover table-striped"
                                id="rivisionTable" style="width: -webkit-fill-available;">
                                <thead>
                                    <tr>
                                        {{!-- <th scope="col" class="text-center">Version.No</th> --}}
                                        <th scope="col" class="text-center">Component </th>
                                        <th scope="col" class="text-center">Type</th>
                                        <th scope="col" class="text-center">Operation</th>
                                        <th scope="col" class="text-center">UpdatedOn</th>
                                        <th scope="col" class="text-center">UpdatedBy</th>
                                        <th scope="col" class="text-center">Reverted</th>
                                        <th scope="col" class="text-center"></th>
                                    </tr>
                                </thead>
                                <tbody> </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {{!-- <div class="revContent">
                    <div class="revItems">
                        <button class="collapsible">Course</button>
                        <div class="content">
                            <div class="tableContent">
                                <div id="dvTableCourses" class="globaltableItems"></div>
                            </div>
                        </div>
                    </div>
                    <div class="revItems">
                        <button class="collapsible">Page</button>
                        <div class="content">
                            <div class="tableContent">
                                <div id="dvTablePages" class="globaltableItems"></div>
                            </div>
                        </div>
                    </div>
                    <div class="revItems">
                        <button class="collapsible">Component</button>
                        <div class="content">
                            <div class="tableContent">
                                <div id="dvTableComponent" class="globaltableItems"></div>
                            </div>
                        </div>
                    </div>
                    <div class="revItems">
                        <button class="collapsible">Block</button>
                        <div class="content">
                            <div class="tableContent">
                                <div id="dvTableBlock" class="globaltableItems"></div>
                            </div>
                        </div>
                    </div>
                    <div class="revItems">
                        <button class="collapsible">Article</button>
                        <div class="content">
                            <div class="tableContent">
                                <div id="dvTableArticle" class="globaltableItems"></div>
                            </div>
                        </div>
                    </div>

                </div> --}}

            </div>
        </div>
    </div>

    {{!-- <div class="modelBoxPopupDetail">
        <div class="modelContenlDetail">
            <button class="modelBoxCloseDetail">X</button>
            <div class="modelHeaderDetail">
                <span class="central"> Revision History Detail </span>
            </div>
            <div class="modelInsideContentDetail">
                <input type="text" hidden id="historyIdIndex">
                <input type="text" hidden id="content_TypeIdex">
                <div class="revItemsbox">
                    <div class="tableContent">
                        <div id="generatedGlobalTable" class="globaltableItems"></div>
                    </div>
                </div>
                <div class="revItemsboxnew">
                    <div class="itemBoxButtons">
                        <button type="submit" class="revertSubmit">Revert</button>
                    </div>
                </div>

            </div>
        </div>
    </div> --}}
    <div class="modelBoxPopupDetail">
        <div class="modelContenlDetail screen-center" style="height: auto;">
            <button class="modelBoxCloseDetail">X</button>
            <div class="modelHeaderDetail">
                <span class="central"> Revision History Detail </span>
            </div>
            <div class="modelInsideContentDetail" style="height: 100%;">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-sm table-striped table-hover" id="detailedTable" width="100%">
                            <thead>
                                <tr>
                                    <th class="text-center">S.No.</th>
                                    <th class="text-center">Property</th>
                                    <th class="text-center">Current Value</th>
                                    <th class="text-center">Old Value</th>
                                    <th class="text-center">Updated On</th>
                                </tr>
                            </thead>
                            <tbody> </tbody>
                        </table>
                    </div>
                    <div class="card-footer text-center">
                        <button class="btn btn-sm btn-secondary display-none"
                            id="revertButton">{{t 'app.revert'}}</button>
                        <button class="btn btn-sm btn-secondary display-none" type="button" id="reevertingButton"
                            disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            {{t 'app.reverting'}}
                        </button>
                        <button class="btn btn-sm btn-secondary display-none" id="revertingNotPossibleButton"
                            disabled>{{t 'app.revertingNotPossible'}} </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>