@import 'colours';

.editor-view {

  .editor-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .editor-panel {
    float: right;
    width: 10%;
  }

  .editor {
    float: left;
    width: 90%;
    height: 100%;
    background-color: lightgrey;
  }

  .paste-zone {

    &.paste-zone-block,
    &.paste-zone-article {
      margin-bottom: 20px;
    }

    &-inner {
      padding: 20px 30px;
      border: 1px dashed lighten(@primary-color, 15%);
      border-radius: 3px;
    }

    &-component-left {
      width: 48%;
      float: left;
    }

    &-component-right {
      width: 48%;
      float: right;
    }

    &-component-full {
      margin-bottom: 20px;
    }

  }

  .paste-zone-available {
    background-color: #ffffff;
    border: 1px dashed #ffffff;

  }

  .paste-zone-droppable {
    visibility: visible;
    background-color: #ffffff;
    border-style: solid;
  }

  .drop-only {
    display: none;
  }

  .component-full {
    float: left;
    width: 100%;
  }

  .page-article-components:after {
    clear: both;
    content: "";
    display: block;
  }

  .editor-item-sidebar {
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 100%;
    background: #454545;

    &.handle {
      cursor: move;
    }
  }

  .drag-helper {
    color: #DEDEDE;
    border: 1px solid #C9C9C9;
    background: #7A7A7A;
    padding: 10px;
    margin: 10px;
    cursor: move;
    min-width: 100px;
  }
}

.editor-item-settings {
    font-size: 16px;
    width: 100%;
    opacity: 1;
    background-color: transparent;
    transition: all 0.3s;

    a {
      text-decoration: none;
    }

    &:hover {
      cursor: move;
    }

    &-inner {
      button {
        padding: 10px;
        font-size: 16px;
        line-height: 16px;
        height: 16px;
        box-sizing: content-box;
        text-align: center;
      }

      width: 100%;
      box-sizing: border-box;
      display: flex;
      padding: 0 10px;

      .editor-delete-page-element {
        order: 2;
      }
      .editor-page-element-detail-inner {
        width: 100%;
        padding: 0 10px;
        overflow: hidden;
        order: 1;
        display: flex;
        align-items: center;
        .title {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        &.component-detail-inner {
          opacity: 0;  // we need the element to move the trash-icon to the right
        }
      }
      .component-move {
        order: 1;
      }
      .editor-collapse-article {
        order: 2;
      }
    }
}

.editor-item-settings button,
.editor-menu-item-settings button {
  color: @primary-color;
  transition: all 0.3s;
  &:hover {
    color:darken(@primary-color,5%);
  }
}

i.asset-selector {
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
}

i.asset-clear {
  cursor: pointer;
}

.sweet-alert .key {
  font-weight: @font-weight-bold;
}

.page-content-syncing {
  &.block {
    min-height: 150px;
    .component {
      &-inner {
        display: none;
      }
    }
  }
}

.syncing {
  transform: scale(0.8, 0.8);
  opacity: 0.6;
}

.not-synced {
  transition:transform 0.3s cubic-bezier(0.8, 0.0, 0.2, 1), opacity 0.3s cubic-bezier(0.8, 0.0, 0.2, 1)!important;
  transform: scale(0.4, 0.4);
  opacity:0;
}



.itemBox {
    display: flex;
    width: 100%;
    padding: 1%;
    align-items: center;
    .itemlists {
      width: 50%;
      .itemLabelName {
        width: 100%;
        text-align: center;
    }
  }
}

.itemBoxButtons{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}


table {
  width: 100%;
    tr {
       th{
  border: none;
  border-bottom: 3px solid #f1f1f1;
  text-transform: uppercase;
  padding: 1.1% 1%;
  }
      td {
        text-align: center;
        padding: 1.1% 1%;
        border: 0;
        a{
          .pi-eye {color: #8a8a8a;}
        }
        .image_user {
          width: 28px;
            height: 28px;
            margin-right: 10px;
            border-radius: 50%;
        }
      }
      td {
        a {
          i {line-height: 1;padding: 9px;font-size: 16px;}
        }
        span  {
          cursor: pointer;
          color: grey;
          &:hover{ color: black;}
          i {line-height: 1;padding: 16px;font-size: 20px;}
        }
        .actionicons {
          padding: 4px 10px;
          font-size: 16px;
          cursor: pointer;
        }
      }
    }
    
}


.modelBoxPopupDetail {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 5%;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: visible;
  padding: 7% 18% 7% 18%;
  z-index: 6;
  .modelHeaderDetail {
      text-align: center;
      margin-bottom: 1%;
      .central {
          font-size: large;
      }
  }
    .modelContenlDetail {
      color: #333333;
      border: 1px solid #c8c8c8;
      padding: 0.571em 1em;
      width: 100%;
      height: 100%;
      position: relative;
      align-items: center;
      border: 0;
      background-color: #f0f5f7!important;
      .modelInsideContentDetail{
          height: 350px;

      }

      .modelBoxCloseDetail {
        position: absolute;
        top: -10px;
        right: -10px;
        background: #000;
        color: white;
        border-radius: 20px;
        padding: 10px;
        line-height: 10px;
        font-weight: 900;
        cursor: pointer;
        }
      }
}

.modelBoxPopupDetail.showModel{
    display: block;
}

.revItemsbox{
  margin-bottom: 5px;
  height: 100%;
  .tableContent{
      height: 100%;
      .globaltableItems{
          height: 100% !important;
          box-shadow: 0 4px 4px 0 rgba(0,0,0,.25)!important;
          background-color: white;
          overflow: auto;
      }
  }
}

.revItemsboxnew{
  margin-top:10px ;
}

.center-screen {
  position:fixed;
  top: 50%;
  left: 50%;
  width:30em;
  height:18em;
  margin-top: -9em; /*set to a negative number 1/2 of your height*/
  margin-left: -15em; /*set to a negative number 1/2 of your width*/
  border: 1px solid #ccc;
  background-color: #f3f3f3;
}

.wrap {
  white-space: nowrap; 
  width: 50px; 
  overflow: hidden;
  text-overflow: ellipsis; 
  border: 1px solid #000000;
}




// .btn {
//   display: inline-block;
//   font-weight: 400;
//   color: #212529;
//   text-align: center;
//   vertical-align: middle;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
//   background-color: transparent;
//   border: 1px solid transparent;
//   padding: 0.375rem 0.75rem;
//   font-size: 1rem;
//   line-height: 1.5;
//   border-radius: 0.25rem;
//   transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
// }

// @media (prefers-reduced-motion: reduce) {
//   .btn {
//     transition: none;
//   }
// }

// .btn:hover {
//   color: #212529;
//   text-decoration: none;
// }

// .btn:focus, .btn.focus {
//   outline: 0;
//   box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
// }

// .btn.disabled, .btn:disabled {
//   opacity: 0.65;
// }

// a.btn.disabled,
// fieldset:disabled a.btn {
//   pointer-events: none;
// }

// .btn-primary {
//   color: #fff;
//   background-color: #007bff;
//   border-color: #007bff;
// }

// .btn-primary:hover {
//   color: #fff;
//   background-color: #0069d9;
//   border-color: #0062cc;
// }

// .btn-primary:focus, .btn-primary.focus {
//   box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
// }

// .btn-primary.disabled, .btn-primary:disabled {
//   color: #fff;
//   background-color: #007bff;
//   border-color: #007bff;
// }

// .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
// .show > .btn-primary.dropdown-toggle {
//   color: #fff;
//   background-color: #0062cc;
//   border-color: #005cbf;
// }

// .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
// .show > .btn-primary.dropdown-toggle:focus {
//   box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
// }

// .btn-secondary {
//   color: #fff;
//   background-color: #6c757d;
//   border-color: #6c757d;
// }

// .btn-secondary:hover {
//   color: #fff;
//   background-color: #5a6268;
//   border-color: #545b62;
// }

// .btn-secondary:focus, .btn-secondary.focus {
//   box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
// }

// .btn-secondary.disabled, .btn-secondary:disabled {
//   color: #fff;
//   background-color: #6c757d;
//   border-color: #6c757d;
// }

// .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
// .show > .btn-secondary.dropdown-toggle {
//   color: #fff;
//   background-color: #545b62;
//   border-color: #4e555b;
// }

// .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
// .show > .btn-secondary.dropdown-toggle:focus {
//   box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
// }

// .btn-success {
//   color: #fff;
//   background-color: #28a745;
//   border-color: #28a745;
// }

// .btn-success:hover {
//   color: #fff;
//   background-color: #218838;
//   border-color: #1e7e34;
// }

// .btn-success:focus, .btn-success.focus {
//   box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
// }

// .btn-success.disabled, .btn-success:disabled {
//   color: #fff;
//   background-color: #28a745;
//   border-color: #28a745;
// }

// .btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
// .show > .btn-success.dropdown-toggle {
//   color: #fff;
//   background-color: #1e7e34;
//   border-color: #1c7430;
// }

// .btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
// .show > .btn-success.dropdown-toggle:focus {
//   box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
// }

// .btn-info {
//   color: #fff;
//   background-color: #17a2b8;
//   border-color: #17a2b8;
// }

// .btn-info:hover {
//   color: #fff;
//   background-color: #138496;
//   border-color: #117a8b;
// }

// .btn-info:focus, .btn-info.focus {
//   box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
// }

// .btn-info.disabled, .btn-info:disabled {
//   color: #fff;
//   background-color: #17a2b8;
//   border-color: #17a2b8;
// }

// .btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active,
// .show > .btn-info.dropdown-toggle {
//   color: #fff;
//   background-color: #117a8b;
//   border-color: #10707f;
// }

// .btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus,
// .show > .btn-info.dropdown-toggle:focus {
//   box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
// }

// .btn-warning {
//   color: #212529;
//   background-color: #ffc107;
//   border-color: #ffc107;
// }

// .btn-warning:hover {
//   color: #212529;
//   background-color: #e0a800;
//   border-color: #d39e00;
// }

// .btn-warning:focus, .btn-warning.focus {
//   box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
// }

// .btn-warning.disabled, .btn-warning:disabled {
//   color: #212529;
//   background-color: #ffc107;
//   border-color: #ffc107;
// }

// .btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active,
// .show > .btn-warning.dropdown-toggle {
//   color: #212529;
//   background-color: #d39e00;
//   border-color: #c69500;
// }

// .btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active:focus,
// .show > .btn-warning.dropdown-toggle:focus {
//   box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
// }

// .btn-danger {
//   color: #fff;
//   background-color: #dc3545;
//   border-color: #dc3545;
// }

// .btn-danger:hover {
//   color: #fff;
//   background-color: #c82333;
//   border-color: #bd2130;
// }

// .btn-danger:focus, .btn-danger.focus {
//   box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
// }

// .btn-danger.disabled, .btn-danger:disabled {
//   color: #fff;
//   background-color: #dc3545;
//   border-color: #dc3545;
// }

// .btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active,
// .show > .btn-danger.dropdown-toggle {
//   color: #fff;
//   background-color: #bd2130;
//   border-color: #b21f2d;
// }

// .btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus,
// .show > .btn-danger.dropdown-toggle:focus {
//   box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
// }

// .btn-light {
//   color: #212529;
//   background-color: #f8f9fa;
//   border-color: #f8f9fa;
// }

// .btn-light:hover {
//   color: #212529;
//   background-color: #e2e6ea;
//   border-color: #dae0e5;
// }

// .btn-light:focus, .btn-light.focus {
//   box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
// }

// .btn-light.disabled, .btn-light:disabled {
//   color: #212529;
//   background-color: #f8f9fa;
//   border-color: #f8f9fa;
// }

// .btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active,
// .show > .btn-light.dropdown-toggle {
//   color: #212529;
//   background-color: #dae0e5;
//   border-color: #d3d9df;
// }

// .btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus,
// .show > .btn-light.dropdown-toggle:focus {
//   box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
// }

// .btn-dark {
//   color: #fff;
//   background-color: #343a40;
//   border-color: #343a40;
// }

// .btn-dark:hover {
//   color: #fff;
//   background-color: #23272b;
//   border-color: #1d2124;
// }

// .btn-dark:focus, .btn-dark.focus {
//   box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
// }

// .btn-dark.disabled, .btn-dark:disabled {
//   color: #fff;
//   background-color: #343a40;
//   border-color: #343a40;
// }

// .btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active,
// .show > .btn-dark.dropdown-toggle {
//   color: #fff;
//   background-color: #1d2124;
//   border-color: #171a1d;
// }

// .btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus,
// .show > .btn-dark.dropdown-toggle:focus {
//   box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
// }

// .btn-outline-primary {
//   color: #007bff;
//   border-color: #007bff;
// }

// .btn-outline-primary:hover {
//   color: #fff;
//   background-color: #007bff;
//   border-color: #007bff;
// }

// .btn-outline-primary:focus, .btn-outline-primary.focus {
//   box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
// }

// .btn-outline-primary.disabled, .btn-outline-primary:disabled {
//   color: #007bff;
//   background-color: transparent;
// }

// .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
// .show > .btn-outline-primary.dropdown-toggle {
//   color: #fff;
//   background-color: #007bff;
//   border-color: #007bff;
// }

// .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
// .show > .btn-outline-primary.dropdown-toggle:focus {
//   box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
// }

// .btn-outline-secondary {
//   color: #6c757d;
//   border-color: #6c757d;
// }

// .btn-outline-secondary:hover {
//   color: #fff;
//   background-color: #6c757d;
//   border-color: #6c757d;
// }

// .btn-outline-secondary:focus, .btn-outline-secondary.focus {
//   box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
// }

// .btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
//   color: #6c757d;
//   background-color: transparent;
// }

// .btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active,
// .show > .btn-outline-secondary.dropdown-toggle {
//   color: #fff;
//   background-color: #6c757d;
//   border-color: #6c757d;
// }

// .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
// .show > .btn-outline-secondary.dropdown-toggle:focus {
//   box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
// }

// .btn-outline-success {
//   color: #28a745;
//   border-color: #28a745;
// }

// .btn-outline-success:hover {
//   color: #fff;
//   background-color: #28a745;
//   border-color: #28a745;
// }

// .btn-outline-success:focus, .btn-outline-success.focus {
//   box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
// }

// .btn-outline-success.disabled, .btn-outline-success:disabled {
//   color: #28a745;
//   background-color: transparent;
// }

// .btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active,
// .show > .btn-outline-success.dropdown-toggle {
//   color: #fff;
//   background-color: #28a745;
//   border-color: #28a745;
// }

// .btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus,
// .show > .btn-outline-success.dropdown-toggle:focus {
//   box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
// }

// .btn-outline-info {
//   color: #17a2b8;
//   border-color: #17a2b8;
// }

// .btn-outline-info:hover {
//   color: #fff;
//   background-color: #17a2b8;
//   border-color: #17a2b8;
// }

// .btn-outline-info:focus, .btn-outline-info.focus {
//   box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
// }

// .btn-outline-info.disabled, .btn-outline-info:disabled {
//   color: #17a2b8;
//   background-color: transparent;
// }

// .btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active,
// .show > .btn-outline-info.dropdown-toggle {
//   color: #fff;
//   background-color: #17a2b8;
//   border-color: #17a2b8;
// }

// .btn-outline-info:not(:disabled):not(.disabled):active:focus, .btn-outline-info:not(:disabled):not(.disabled).active:focus,
// .show > .btn-outline-info.dropdown-toggle:focus {
//   box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
// }

// .btn-outline-warning {
//   color: #ffc107;
//   border-color: #ffc107;
// }

// .btn-outline-warning:hover {
//   color: #212529;
//   background-color: #ffc107;
//   border-color: #ffc107;
// }

// .btn-outline-warning:focus, .btn-outline-warning.focus {
//   box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
// }

// .btn-outline-warning.disabled, .btn-outline-warning:disabled {
//   color: #ffc107;
//   background-color: transparent;
// }

// .btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:not(:disabled):not(.disabled).active,
// .show > .btn-outline-warning.dropdown-toggle {
//   color: #212529;
//   background-color: #ffc107;
//   border-color: #ffc107;
// }

// .btn-outline-warning:not(:disabled):not(.disabled):active:focus, .btn-outline-warning:not(:disabled):not(.disabled).active:focus,
// .show > .btn-outline-warning.dropdown-toggle:focus {
//   box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
// }

// .btn-outline-danger {
//   color: #dc3545;
//   border-color: #dc3545;
// }

// .btn-outline-danger:hover {
//   color: #fff;
//   background-color: #dc3545;
//   border-color: #dc3545;
// }

// .btn-outline-danger:focus, .btn-outline-danger.focus {
//   box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
// }

// .btn-outline-danger.disabled, .btn-outline-danger:disabled {
//   color: #dc3545;
//   background-color: transparent;
// }

// .btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active,
// .show > .btn-outline-danger.dropdown-toggle {
//   color: #fff;
//   background-color: #dc3545;
//   border-color: #dc3545;
// }

// .btn-outline-danger:not(:disabled):not(.disabled):active:focus, .btn-outline-danger:not(:disabled):not(.disabled).active:focus,
// .show > .btn-outline-danger.dropdown-toggle:focus {
//   box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
// }

// .btn-outline-light {
//   color: #f8f9fa;
//   border-color: #f8f9fa;
// }

// .btn-outline-light:hover {
//   color: #212529;
//   background-color: #f8f9fa;
//   border-color: #f8f9fa;
// }

// .btn-outline-light:focus, .btn-outline-light.focus {
//   box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
// }

// .btn-outline-light.disabled, .btn-outline-light:disabled {
//   color: #f8f9fa;
//   background-color: transparent;
// }

// .btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active,
// .show > .btn-outline-light.dropdown-toggle {
//   color: #212529;
//   background-color: #f8f9fa;
//   border-color: #f8f9fa;
// }

// .btn-outline-light:not(:disabled):not(.disabled):active:focus, .btn-outline-light:not(:disabled):not(.disabled).active:focus,
// .show > .btn-outline-light.dropdown-toggle:focus {
//   box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
// }

// .btn-outline-dark {
//   color: #343a40;
//   border-color: #343a40;
// }

// .btn-outline-dark:hover {
//   color: #fff;
//   background-color: #343a40;
//   border-color: #343a40;
// }

// .btn-outline-dark:focus, .btn-outline-dark.focus {
//   box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
// }

// .btn-outline-dark.disabled, .btn-outline-dark:disabled {
//   color: #343a40;
//   background-color: transparent;
// }

// .btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active,
// .show > .btn-outline-dark.dropdown-toggle {
//   color: #fff;
//   background-color: #343a40;
//   border-color: #343a40;
// }

// .btn-outline-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-dark:not(:disabled):not(.disabled).active:focus,
// .show > .btn-outline-dark.dropdown-toggle:focus {
//   box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
// }

// .btn-link {
//   font-weight: 400;
//   color: #007bff;
//   text-decoration: none;
// }

// .btn-link:hover {
//   color: #0056b3;
//   text-decoration: underline;
// }

// .btn-link:focus, .btn-link.focus {
//   text-decoration: underline;
//   box-shadow: none;
// }

// .btn-link:disabled, .btn-link.disabled {
//   color: #6c757d;
//   pointer-events: none;
// }

// .btn-lg, .btn-group-lg > .btn {
//   padding: 0.5rem 1rem;
//   font-size: 1.25rem;
//   line-height: 1.5;
//   border-radius: 0.3rem;
// }

// .btn-sm, .btn-group-sm > .btn {
//   padding: 0.25rem 0.5rem;
//   font-size: 0.875rem;
//   line-height: 1.5;
//   border-radius: 0.2rem;
// }

// .btn-sm + .dropdown-toggle-split, .btn-group-sm > .btn + .dropdown-toggle-split {
//   padding-right: 0.375rem;
//   padding-left: 0.375rem;
// }

// .btn-block {
//   display: block;
//   width: 100%;
// }

// .btn-block + .btn-block {
//   margin-top: 0.5rem;
// }

// input[type="submit"].btn-block,
// input[type="reset"].btn-block,
// input[type="button"].btn-block {
//   width: 100%;
// }


// .form-control {
//   display: block;
//   width: 100%;
//   height: calc(1.5em + 0.75rem + 2px);
//   padding: 0.375rem 0.75rem;
//   font-size: 1rem;
//   font-weight: 400;
//   line-height: 1.5;
//   color: #495057;
//   background-color: #fff;
//   background-clip: padding-box;
//   border: 1px solid #ced4da;
//   border-radius: 0.25rem;
//   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
// }

// @media (prefers-reduced-motion: reduce) {
//   .form-control {
//     transition: none;
//   }
// }

// .form-control::-ms-expand {
//   background-color: transparent;
//   border: 0;
// }

// .form-control:focus {
//   color: #495057;
//   background-color: #fff;
//   border-color: #80bdff;
//   outline: 0;
//   box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
// }

// .form-control::-webkit-input-placeholder {
//   color: #6c757d;
//   opacity: 1;
// }

// .form-control::-moz-placeholder {
//   color: #6c757d;
//   opacity: 1;
// }

// .form-control:-ms-input-placeholder {
//   color: #6c757d;
//   opacity: 1;
// }

// .form-control::-ms-input-placeholder {
//   color: #6c757d;
//   opacity: 1;
// }

// .form-control::placeholder {
//   color: #6c757d;
//   opacity: 1;
// }

// .form-control:disabled, .form-control[readonly] {
//   background-color: #e9ecef;
//   opacity: 1;
// }

// select.form-control:focus::-ms-value {
//   color: #495057;
//   background-color: #fff;
// }

// .form-control-file,
// .form-control-range {
//   display: block;
//   width: 100%;
// }

// .col-form-label {
//   padding-top: calc(0.375rem + 1px);
//   padding-bottom: calc(0.375rem + 1px);
//   margin-bottom: 0;
//   font-size: inherit;
//   line-height: 1.5;
// }

// .col-form-label-lg {
//   padding-top: calc(0.5rem + 1px);
//   padding-bottom: calc(0.5rem + 1px);
//   font-size: 1.25rem;
//   line-height: 1.5;
// }

// .col-form-label-sm {
//   padding-top: calc(0.25rem + 1px);
//   padding-bottom: calc(0.25rem + 1px);
//   font-size: 0.875rem;
//   line-height: 1.5;
// }

// .form-control-plaintext {
//   display: block;
//   width: 100%;
//   padding-top: 0.375rem;
//   padding-bottom: 0.375rem;
//   margin-bottom: 0;
//   line-height: 1.5;
//   color: #212529;
//   background-color: transparent;
//   border: solid transparent;
//   border-width: 1px 0;
// }

.form-control-plaintext.form-control-sm, .form-control-plaintext.form-control-lg {
  padding-right: 0;
  padding-left: 0;
}

.form-control-sm {
  height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.my-1 {
  margin-top: 0.25rem !important;
}//   height: calc(1.5em + 1rem + 2px);
//   padding: 0.5rem 1rem;
//   font-size: 1.25rem;
//   line-height: 1.5;
//   border-radius: 0.3rem;
// }

// select.form-control[size], select.form-control[multiple] {
//   height: auto;
// }

// textarea.form-control {
//   height: auto;
// }

// .table {
//   width: 100%;
//   margin-bottom: 1rem;
//   color: #212529;
// }

// .table th,
// .table td {
//   padding: 0.75rem;
//   vertical-align: top;
//   border-top: 1px solid #dee2e6;
// }

// .table thead th {
//   vertical-align: bottom;
//   border-bottom: 2px solid #dee2e6;
// }

// .table tbody + tbody {
//   border-top: 2px solid #dee2e6;
// }

// .table-sm th,
// .table-sm td {
//   padding: 0.3rem;
// }

// .table-bordered {
//   border: 1px solid #dee2e6;
// }

// .table-bordered th,
// .table-bordered td {
//   border: 1px solid #dee2e6;
// }

// .table-bordered thead th,
// .table-bordered thead td {
//   border-bottom-width: 2px;
// }

// .table-borderless th,
// .table-borderless td,
// .table-borderless thead th,
// .table-borderless tbody + tbody {
//   border: 0;
// }

// .table-striped tbody tr:nth-of-type(odd) {
//   background-color: rgba(0, 0, 0, 0.05);
// }

// .table-hover tbody tr:hover {
//   color: #212529;
//   background-color: rgba(0, 0, 0, 0.075);
// }

// .table-primary,
// .table-primary > th,
// .table-primary > td {
//   background-color: #b8daff;
// }

// .table-primary th,
// .table-primary td,
// .table-primary thead th,
// .table-primary tbody + tbody {
//   border-color: #7abaff;
// }

// .table-hover .table-primary:hover {
//   background-color: #9fcdff;
// }

// .table-hover .table-primary:hover > td,
// .table-hover .table-primary:hover > th {
//   background-color: #9fcdff;
// }

// .table-secondary,
// .table-secondary > th,
// .table-secondary > td {
//   background-color: #d6d8db;
// }

// .table-secondary th,
// .table-secondary td,
// .table-secondary thead th,
// .table-secondary tbody + tbody {
//   border-color: #b3b7bb;
// }

// .table-hover .table-secondary:hover {
//   background-color: #c8cbcf;
// }

// .table-hover .table-secondary:hover > td,
// .table-hover .table-secondary:hover > th {
//   background-color: #c8cbcf;
// }

// .table-success,
// .table-success > th,
// .table-success > td {
//   background-color: #c3e6cb;
// }

// .table-success th,
// .table-success td,
// .table-success thead th,
// .table-success tbody + tbody {
//   border-color: #8fd19e;
// }

// .table-hover .table-success:hover {
//   background-color: #b1dfbb;
// }

// .table-hover .table-success:hover > td,
// .table-hover .table-success:hover > th {
//   background-color: #b1dfbb;
// }

// .table-info,
// .table-info > th,
// .table-info > td {
//   background-color: #bee5eb;
// }

// .table-info th,
// .table-info td,
// .table-info thead th,
// .table-info tbody + tbody {
//   border-color: #86cfda;
// }

// .table-hover .table-info:hover {
//   background-color: #abdde5;
// }

// .table-hover .table-info:hover > td,
// .table-hover .table-info:hover > th {
//   background-color: #abdde5;
// }

// .table-warning,
// .table-warning > th,
// .table-warning > td {
//   background-color: #ffeeba;
// }

// .table-warning th,
// .table-warning td,
// .table-warning thead th,
// .table-warning tbody + tbody {
//   border-color: #ffdf7e;
// }

// .table-hover .table-warning:hover {
//   background-color: #ffe8a1;
// }

// .table-hover .table-warning:hover > td,
// .table-hover .table-warning:hover > th {
//   background-color: #ffe8a1;
// }

// .table-danger,
// .table-danger > th,
// .table-danger > td {
//   background-color: #f5c6cb;
// }

// .table-danger th,
// .table-danger td,
// .table-danger thead th,
// .table-danger tbody + tbody {
//   border-color: #ed969e;
// }

// .table-hover .table-danger:hover {
//   background-color: #f1b0b7;
// }

// .table-hover .table-danger:hover > td,
// .table-hover .table-danger:hover > th {
//   background-color: #f1b0b7;
// }

// .table-light,
// .table-light > th,
// .table-light > td {
//   background-color: #fdfdfe;
// }

// .table-light th,
// .table-light td,
// .table-light thead th,
// .table-light tbody + tbody {
//   border-color: #fbfcfc;
// }

// .table-hover .table-light:hover {
//   background-color: #ececf6;
// }

// .table-hover .table-light:hover > td,
// .table-hover .table-light:hover > th {
//   background-color: #ececf6;
// }

// .table-dark,
// .table-dark > th,
// .table-dark > td {
//   background-color: #c6c8ca;
// }

// .table-dark th,
// .table-dark td,
// .table-dark thead th,
// .table-dark tbody + tbody {
//   border-color: #95999c;
// }

// .table-hover .table-dark:hover {
//   background-color: #b9bbbe;
// }

// .table-hover .table-dark:hover > td,
// .table-hover .table-dark:hover > th {
//   background-color: #b9bbbe;
// }

// .table-active,
// .table-active > th,
// .table-active > td {
//   background-color: rgba(0, 0, 0, 0.075);
// }

// .table-hover .table-active:hover {
//   background-color: rgba(0, 0, 0, 0.075);
// }

// .table-hover .table-active:hover > td,
// .table-hover .table-active:hover > th {
//   background-color: rgba(0, 0, 0, 0.075);
// }

// .table .thead-dark th {
//   color: #fff;
//   background-color: #343a40;
//   border-color: #454d55;
// }

// .table .thead-light th {
//   color: #495057;
//   background-color: #e9ecef;
//   border-color: #dee2e6;
// }

// .table-dark {
//   color: #fff;
//   background-color: #343a40;
// }

// .table-dark th,
// .table-dark td,
// .table-dark thead th {
//   border-color: #454d55;
// }

// .table-dark.table-bordered {
//   border: 0;
// }

// .table-dark.table-striped tbody tr:nth-of-type(odd) {
//   background-color: rgba(255, 255, 255, 0.05);
// }

// .table-dark.table-hover tbody tr:hover {
//   color: #fff;
//   background-color: rgba(255, 255, 255, 0.075);
// }

// @media (max-width: 575.98px) {
//   .table-responsive-sm {
//     display: block;
//     width: 100%;
//     overflow-x: auto;
//     -webkit-overflow-scrolling: touch;
//   }
//   .table-responsive-sm > .table-bordered {
//     border: 0;
//   }
// }

// @media (max-width: 767.98px) {
//   .table-responsive-md {
//     display: block;
//     width: 100%;
//     overflow-x: auto;
//     -webkit-overflow-scrolling: touch;
//   }
//   .table-responsive-md > .table-bordered {
//     border: 0;
//   }
// }

// @media (max-width: 991.98px) {
//   .table-responsive-lg {
//     display: block;
//     width: 100%;
//     overflow-x: auto;
//     -webkit-overflow-scrolling: touch;
//   }
//   .table-responsive-lg > .table-bordered {
//     border: 0;
//   }
// }

// @media (max-width: 1199.98px) {
//   .table-responsive-xl {
//     display: block;
//     width: 100%;
//     overflow-x: auto;
//     -webkit-overflow-scrolling: touch;
//   }
//   .table-responsive-xl > .table-bordered {
//     border: 0;
//   }
// }

// .table-responsive {
//   display: block;
//   width: 100%;
//   overflow-x: auto;
//   -webkit-overflow-scrolling: touch;
// }

// .table-responsive > .table-bordered {
//   border: 0;
// }

@-webkit-keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .75s linear infinite;
  animation: spinner-border .75s linear infinite;
}

.spinner-border-sm {
  width: 1rem;
  height: 1rem;
  border-width: 0.2em;
}

@-webkit-keyframes spinner-grow {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
}

@keyframes spinner-grow {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
}

.spinner-grow {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  background-color: currentColor;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: spinner-grow .75s linear infinite;
  animation: spinner-grow .75s linear infinite;
}

.spinner-grow-sm {
  width: 1rem;
  height: 1rem;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card > hr {
  margin-right: 0;
  margin-left: 0;
}

.card > .list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1.25rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header + .list-group .list-group-item:first-child {
  border-top: 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.text-center {
  text-align: center !important;
}

// .container {
//   min-width: 992px !important;
// }

// .container {
//   width: 100%;
//   padding-right: 15px;
//   padding-left: 15px;
//   margin-right: auto;
//   margin-left: auto;
// }

// .container-fluid {
//   width: 100%;
//   padding-right: 15px;
//   padding-left: 15px;
//   margin-right: auto;
//   margin-left: auto;
// }

// .row {
//   display: -ms-flexbox;
//   display: flex;
//   -ms-flex-wrap: wrap;
//   flex-wrap: wrap;
//   margin-right: -15px;
//   margin-left: -15px;
// }

// .no-gutters {
//   margin-right: 0;
//   margin-left: 0;
// }

// .no-gutters > .col,
// .no-gutters > [class*="col-"] {
//   padding-right: 0;
//   padding-left: 0;
// }

// .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
// .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
// .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
// .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
// .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
// .col-xl-auto {
//   position: relative;
//   width: 100%;
//   padding-right: 15px;
//   padding-left: 15px;
// }

// .col {
//   -ms-flex-preferred-size: 0;
//   flex-basis: 0;
//   -ms-flex-positive: 1;
//   flex-grow: 1;
//   max-width: 100%;
// }

// .col-auto {
//   -ms-flex: 0 0 auto;
//   flex: 0 0 auto;
//   width: auto;
//   max-width: 100%;
// }

// .col-1 {
//   -ms-flex: 0 0 8.333333%;
//   flex: 0 0 8.333333%;
//   max-width: 8.333333%;
// }

// .col-2 {
//   -ms-flex: 0 0 16.666667%;
//   flex: 0 0 16.666667%;
//   max-width: 16.666667%;
// }

// .col-3 {
//   -ms-flex: 0 0 25%;
//   flex: 0 0 25%;
//   max-width: 25%;
// }

// .col-4 {
//   -ms-flex: 0 0 33.333333%;
//   flex: 0 0 33.333333%;
//   max-width: 33.333333%;
// }

// .col-5 {
//   -ms-flex: 0 0 41.666667%;
//   flex: 0 0 41.666667%;
//   max-width: 41.666667%;
// }

// .col-6 {
//   -ms-flex: 0 0 50%;
//   flex: 0 0 50%;
//   max-width: 50%;
// }

// .col-7 {
//   -ms-flex: 0 0 58.333333%;
//   flex: 0 0 58.333333%;
//   max-width: 58.333333%;
// }

// .col-8 {
//   -ms-flex: 0 0 66.666667%;
//   flex: 0 0 66.666667%;
//   max-width: 66.666667%;
// }

// .col-9 {
//   -ms-flex: 0 0 75%;
//   flex: 0 0 75%;
//   max-width: 75%;
// }

// .col-10 {
//   -ms-flex: 0 0 83.333333%;
//   flex: 0 0 83.333333%;
//   max-width: 83.333333%;
// }

// .col-11 {
//   -ms-flex: 0 0 91.666667%;
//   flex: 0 0 91.666667%;
//   max-width: 91.666667%;
// }

// .col-12 {
//   -ms-flex: 0 0 100%;
//   flex: 0 0 100%;
//   max-width: 100%;
// }
// @media (min-width: 576px) {
//   .col-sm {
//     -ms-flex-preferred-size: 0;
//     flex-basis: 0;
//     -ms-flex-positive: 1;
//     flex-grow: 1;
//     max-width: 100%;
//   }
//   .col-sm-auto {
//     -ms-flex: 0 0 auto;
//     flex: 0 0 auto;
//     width: auto;
//     max-width: 100%;
//   }
//   .col-sm-1 {
//     -ms-flex: 0 0 8.333333%;
//     flex: 0 0 8.333333%;
//     max-width: 8.333333%;
//   }
//   .col-sm-2 {
//     -ms-flex: 0 0 16.666667%;
//     flex: 0 0 16.666667%;
//     max-width: 16.666667%;
//   }
//   .col-sm-3 {
//     -ms-flex: 0 0 25%;
//     flex: 0 0 25%;
//     max-width: 25%;
//   }
//   .col-sm-4 {
//     -ms-flex: 0 0 33.333333%;
//     flex: 0 0 33.333333%;
//     max-width: 33.333333%;
//   }
//   .col-sm-5 {
//     -ms-flex: 0 0 41.666667%;
//     flex: 0 0 41.666667%;
//     max-width: 41.666667%;
//   }
//   .col-sm-6 {
//     -ms-flex: 0 0 50%;
//     flex: 0 0 50%;
//     max-width: 50%;
//   }
//   .col-sm-7 {
//     -ms-flex: 0 0 58.333333%;
//     flex: 0 0 58.333333%;
//     max-width: 58.333333%;
//   }
//   .col-sm-8 {
//     -ms-flex: 0 0 66.666667%;
//     flex: 0 0 66.666667%;
//     max-width: 66.666667%;
//   }
//   .col-sm-9 {
//     -ms-flex: 0 0 75%;
//     flex: 0 0 75%;
//     max-width: 75%;
//   }
//   .col-sm-10 {
//     -ms-flex: 0 0 83.333333%;
//     flex: 0 0 83.333333%;
//     max-width: 83.333333%;
//   }
//   .col-sm-11 {
//     -ms-flex: 0 0 91.666667%;
//     flex: 0 0 91.666667%;
//     max-width: 91.666667%;
//   }
//   .col-sm-12 {
//     -ms-flex: 0 0 100%;
//     flex: 0 0 100%;
//     max-width: 100%;
//   }
//   .order-sm-first {
//     -ms-flex-order: -1;
//     order: -1;
//   }
//   .order-sm-last {
//     -ms-flex-order: 13;
//     order: 13;
//   }
//   .order-sm-0 {
//     -ms-flex-order: 0;
//     order: 0;
//   }
//   .order-sm-1 {
//     -ms-flex-order: 1;
//     order: 1;
//   }
//   .order-sm-2 {
//     -ms-flex-order: 2;
//     order: 2;
//   }
//   .order-sm-3 {
//     -ms-flex-order: 3;
//     order: 3;
//   }
//   .order-sm-4 {
//     -ms-flex-order: 4;
//     order: 4;
//   }
//   .order-sm-5 {
//     -ms-flex-order: 5;
//     order: 5;
//   }
//   .order-sm-6 {
//     -ms-flex-order: 6;
//     order: 6;
//   }
//   .order-sm-7 {
//     -ms-flex-order: 7;
//     order: 7;
//   }
//   .order-sm-8 {
//     -ms-flex-order: 8;
//     order: 8;
//   }
//   .order-sm-9 {
//     -ms-flex-order: 9;
//     order: 9;
//   }
//   .order-sm-10 {
//     -ms-flex-order: 10;
//     order: 10;
//   }
//   .order-sm-11 {
//     -ms-flex-order: 11;
//     order: 11;
//   }
//   .order-sm-12 {
//     -ms-flex-order: 12;
//     order: 12;
//   }
//   .offset-sm-0 {
//     margin-left: 0;
//   }
//   .offset-sm-1 {
//     margin-left: 8.333333%;
//   }
//   .offset-sm-2 {
//     margin-left: 16.666667%;
//   }
//   .offset-sm-3 {
//     margin-left: 25%;
//   }
//   .offset-sm-4 {
//     margin-left: 33.333333%;
//   }
//   .offset-sm-5 {
//     margin-left: 41.666667%;
//   }
//   .offset-sm-6 {
//     margin-left: 50%;
//   }
//   .offset-sm-7 {
//     margin-left: 58.333333%;
//   }
//   .offset-sm-8 {
//     margin-left: 66.666667%;
//   }
//   .offset-sm-9 {
//     margin-left: 75%;
//   }
//   .offset-sm-10 {
//     margin-left: 83.333333%;
//   }
//   .offset-sm-11 {
//     margin-left: 91.666667%;
//   }
// }

// @media (min-width: 768px) {
//   .col-md {
//     -ms-flex-preferred-size: 0;
//     flex-basis: 0;
//     -ms-flex-positive: 1;
//     flex-grow: 1;
//     max-width: 100%;
//   }
//   .col-md-auto {
//     -ms-flex: 0 0 auto;
//     flex: 0 0 auto;
//     width: auto;
//     max-width: 100%;
//   }
//   .col-md-1 {
//     -ms-flex: 0 0 8.333333%;
//     flex: 0 0 8.333333%;
//     max-width: 8.333333%;
//   }
//   .col-md-2 {
//     -ms-flex: 0 0 16.666667%;
//     flex: 0 0 16.666667%;
//     max-width: 16.666667%;
//   }
//   .col-md-3 {
//     -ms-flex: 0 0 25%;
//     flex: 0 0 25%;
//     max-width: 25%;
//   }
//   .col-md-4 {
//     -ms-flex: 0 0 33.333333%;
//     flex: 0 0 33.333333%;
//     max-width: 33.333333%;
//   }
//   .col-md-5 {
//     -ms-flex: 0 0 41.666667%;
//     flex: 0 0 41.666667%;
//     max-width: 41.666667%;
//   }
//   .col-md-6 {
//     -ms-flex: 0 0 50%;
//     flex: 0 0 50%;
//     max-width: 50%;
//   }
//   .col-md-7 {
//     -ms-flex: 0 0 58.333333%;
//     flex: 0 0 58.333333%;
//     max-width: 58.333333%;
//   }
//   .col-md-8 {
//     -ms-flex: 0 0 66.666667%;
//     flex: 0 0 66.666667%;
//     max-width: 66.666667%;
//   }
//   .col-md-9 {
//     -ms-flex: 0 0 75%;
//     flex: 0 0 75%;
//     max-width: 75%;
//   }
//   .col-md-10 {
//     -ms-flex: 0 0 83.333333%;
//     flex: 0 0 83.333333%;
//     max-width: 83.333333%;
//   }
//   .col-md-11 {
//     -ms-flex: 0 0 91.666667%;
//     flex: 0 0 91.666667%;
//     max-width: 91.666667%;
//   }
//   .col-md-12 {
//     -ms-flex: 0 0 100%;
//     flex: 0 0 100%;
//     max-width: 100%;
//   }
//   .order-md-first {
//     -ms-flex-order: -1;
//     order: -1;
//   }
//   .order-md-last {
//     -ms-flex-order: 13;
//     order: 13;
//   }
//   .order-md-0 {
//     -ms-flex-order: 0;
//     order: 0;
//   }
//   .order-md-1 {
//     -ms-flex-order: 1;
//     order: 1;
//   }
//   .order-md-2 {
//     -ms-flex-order: 2;
//     order: 2;
//   }
//   .order-md-3 {
//     -ms-flex-order: 3;
//     order: 3;
//   }
//   .order-md-4 {
//     -ms-flex-order: 4;
//     order: 4;
//   }
//   .order-md-5 {
//     -ms-flex-order: 5;
//     order: 5;
//   }
//   .order-md-6 {
//     -ms-flex-order: 6;
//     order: 6;
//   }
//   .order-md-7 {
//     -ms-flex-order: 7;
//     order: 7;
//   }
//   .order-md-8 {
//     -ms-flex-order: 8;
//     order: 8;
//   }
//   .order-md-9 {
//     -ms-flex-order: 9;
//     order: 9;
//   }
//   .order-md-10 {
//     -ms-flex-order: 10;
//     order: 10;
//   }
//   .order-md-11 {
//     -ms-flex-order: 11;
//     order: 11;
//   }
//   .order-md-12 {
//     -ms-flex-order: 12;
//     order: 12;
//   }
//   .offset-md-0 {
//     margin-left: 0;
//   }
//   .offset-md-1 {
//     margin-left: 8.333333%;
//   }
//   .offset-md-2 {
//     margin-left: 16.666667%;
//   }
//   .offset-md-3 {
//     margin-left: 25%;
//   }
//   .offset-md-4 {
//     margin-left: 33.333333%;
//   }
//   .offset-md-5 {
//     margin-left: 41.666667%;
//   }
//   .offset-md-6 {
//     margin-left: 50%;
//   }
//   .offset-md-7 {
//     margin-left: 58.333333%;
//   }
//   .offset-md-8 {
//     margin-left: 66.666667%;
//   }
//   .offset-md-9 {
//     margin-left: 75%;
//   }
//   .offset-md-10 {
//     margin-left: 83.333333%;
//   }
//   .offset-md-11 {
//     margin-left: 91.666667%;
//   }
// }

// @media (min-width: 992px) {
//   .col-lg {
//     -ms-flex-preferred-size: 0;
//     flex-basis: 0;
//     -ms-flex-positive: 1;
//     flex-grow: 1;
//     max-width: 100%;
//   }
//   .col-lg-auto {
//     -ms-flex: 0 0 auto;
//     flex: 0 0 auto;
//     width: auto;
//     max-width: 100%;
//   }
//   .col-lg-1 {
//     -ms-flex: 0 0 8.333333%;
//     flex: 0 0 8.333333%;
//     max-width: 8.333333%;
//   }
//   .col-lg-2 {
//     -ms-flex: 0 0 16.666667%;
//     flex: 0 0 16.666667%;
//     max-width: 16.666667%;
//   }
//   .col-lg-3 {
//     -ms-flex: 0 0 25%;
//     flex: 0 0 25%;
//     max-width: 25%;
//   }
//   .col-lg-4 {
//     -ms-flex: 0 0 33.333333%;
//     flex: 0 0 33.333333%;
//     max-width: 33.333333%;
//   }
//   .col-lg-5 {
//     -ms-flex: 0 0 41.666667%;
//     flex: 0 0 41.666667%;
//     max-width: 41.666667%;
//   }
//   .col-lg-6 {
//     -ms-flex: 0 0 50%;
//     flex: 0 0 50%;
//     max-width: 50%;
//   }
//   .col-lg-7 {
//     -ms-flex: 0 0 58.333333%;
//     flex: 0 0 58.333333%;
//     max-width: 58.333333%;
//   }
//   .col-lg-8 {
//     -ms-flex: 0 0 66.666667%;
//     flex: 0 0 66.666667%;
//     max-width: 66.666667%;
//   }
//   .col-lg-9 {
//     -ms-flex: 0 0 75%;
//     flex: 0 0 75%;
//     max-width: 75%;
//   }
//   .col-lg-10 {
//     -ms-flex: 0 0 83.333333%;
//     flex: 0 0 83.333333%;
//     max-width: 83.333333%;
//   }
//   .col-lg-11 {
//     -ms-flex: 0 0 91.666667%;
//     flex: 0 0 91.666667%;
//     max-width: 91.666667%;
//   }
//   .col-lg-12 {
//     -ms-flex: 0 0 100%;
//     flex: 0 0 100%;
//     max-width: 100%;
//   }
//   .order-lg-first {
//     -ms-flex-order: -1;
//     order: -1;
//   }
//   .order-lg-last {
//     -ms-flex-order: 13;
//     order: 13;
//   }
//   .order-lg-0 {
//     -ms-flex-order: 0;
//     order: 0;
//   }
//   .order-lg-1 {
//     -ms-flex-order: 1;
//     order: 1;
//   }
//   .order-lg-2 {
//     -ms-flex-order: 2;
//     order: 2;
//   }
//   .order-lg-3 {
//     -ms-flex-order: 3;
//     order: 3;
//   }
//   .order-lg-4 {
//     -ms-flex-order: 4;
//     order: 4;
//   }
//   .order-lg-5 {
//     -ms-flex-order: 5;
//     order: 5;
//   }
//   .order-lg-6 {
//     -ms-flex-order: 6;
//     order: 6;
//   }
//   .order-lg-7 {
//     -ms-flex-order: 7;
//     order: 7;
//   }
//   .order-lg-8 {
//     -ms-flex-order: 8;
//     order: 8;
//   }
//   .order-lg-9 {
//     -ms-flex-order: 9;
//     order: 9;
//   }
//   .order-lg-10 {
//     -ms-flex-order: 10;
//     order: 10;
//   }
//   .order-lg-11 {
//     -ms-flex-order: 11;
//     order: 11;
//   }
//   .order-lg-12 {
//     -ms-flex-order: 12;
//     order: 12;
//   }
//   .offset-lg-0 {
//     margin-left: 0;
//   }
//   .offset-lg-1 {
//     margin-left: 8.333333%;
//   }
//   .offset-lg-2 {
//     margin-left: 16.666667%;
//   }
//   .offset-lg-3 {
//     margin-left: 25%;
//   }
//   .offset-lg-4 {
//     margin-left: 33.333333%;
//   }
//   .offset-lg-5 {
//     margin-left: 41.666667%;
//   }
//   .offset-lg-6 {
//     margin-left: 50%;
//   }
//   .offset-lg-7 {
//     margin-left: 58.333333%;
//   }
//   .offset-lg-8 {
//     margin-left: 66.666667%;
//   }
//   .offset-lg-9 {
//     margin-left: 75%;
//   }
//   .offset-lg-10 {
//     margin-left: 83.333333%;
//   }
//   .offset-lg-11 {
//     margin-left: 91.666667%;
//   }
// }
